@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Nunito";
  user-select: none;
}

.promocode-input:focus + button {
  font-weight: bold;
}

@layer components {
  .close-button {
    @apply w-[28px] h-[28px] rounded-lg transition-transform duration-300 mr-[-4px] cursor-pointer hover:scale-125;
  }
}
